*/build
node_modules
.idea
**/*.js
**/*.d.ts
**/cdk.out
**/node_modules

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


zealthy-helpdesk-kp.pem
zealthy-helpdesk.tar